<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="cancel_purchase" appConnect="local" -->
<meta name="ac:route" content="/purchase_cancel">
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h4>Your purchase has been canceled</h4>
        </div>
    </div>
</div>